<nav>
<%= link_to "back", :back %>


</nav>

Who? <input type="text"></input>
<br />
How much? <input type="number"></input>
<br />
Comment: <input type="text"></input>
<br />
<button>Request</button> / <button>Send</button> 


<!--
functions to be made

after clicking, confirm that the transaction has been sent/ started
Give instructions on where to check for requests.



-->
