<%= link_to "back", :back %>
<button id="request" onclick="requestFun()">Requests</button>
<button id="payment" onclick="'payFun()'">Payments</button>
<span id="body">
</span>

<script>
function requestFun(){
  document.getElementbyID("body").innerHTML
  //     1. on click of requests, show
  // <h3>Requests From You</h3>
  // <p>"See your requests for your money here while they're awaiting approval"</p>
  //

}
    // 2. on click of Payments show
    // <h3>Payment Invites</h3>
    // <p>"Invite people to Rando by sending money to their phone or email. Review your invitations here"</p>
    // <button>"Send A Payment" </button>

</script>
