<%= link_to "back", :back %>
<h1> Invite Friends</h1>
<br />
Type in a friend's name here

The list below will show a list of the device's phone contacts and email contacts.

<!--
create functions for the above functionality
-->
