<%= link_to "back", :back %>

<span id="notificaion_body">
  <h3> No Notifications</h3>
  <p> You can find things that require your attention here</p>
</span>
<script>
function view_for_zero_or_more_notifications(){

}


</script>
