<%= link_to "back", :back %>
<h1> Code Scanner </h1>
<br />
In this page, the view;s background will be the device's camera output.
<br />
It will look for a code block that is reminiscent of a URL that resembles a Rando users' url. 
