<%= link_to "back", :back %>
Find someone here type to search! <input type="text"> </input>
<br />
<span id="people">A list of people will show up here
</span>

<!--  TODO: function for id: people
make the innter html of this show all friends of the user if nothing is typed in
as you type more, the search narrows down the list to the appropriate rando user-->
